/* Font Familia : 'Nunito' */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --blue : #1962EC;
}

.cuerpo-contenedor{
    width: 120%;
    height: 1450px;
    position: absolute;
    z-index: -1;
    right: -100px;
    top: -20px;
    opacity: 0.6;
}

.Z-logo{
    position: absolute;
    left: -1%;/* -6.15rem */
    margin-left: -140px ;/* -20%*/
    margin-top: 48px;
    top: 420px; /*12.4rem*/
    width: 860px;/* 143.6%  calc(110% + 130px) calc(179px + 100%)*/
    height: 290px;
    background-color: var(--blue);
    z-index: 6;
    transform: rotate(135deg);
    border-radius: 80px;
}

.Z-logo::before{
    content: "";
    position: absolute;
    top: 197px;
    left: -51px;
    margin-left: -99px;
    width: 700px;
    height: 290px;
    background-color: var(--blue);
    transform: rotate(45deg);
    z-index: 6;
    border-top-left-radius: 45px;
}

.persona-1{
    position: relative;
    top: 120px;
    z-index: 7;
    width: 45%;
}

.despega-container{
    position: relative;
    width: 30%;
    height: 200px;
    float: right;
    margin-top: 24rem;
    right: -1%;
    background-color: #fff;
    color: var(--blue);
    padding: 20px;
    padding-left: 10%;
    opacity: 0.9;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    font-family: 'Nunito';
}

.despega-container h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
    margin-left: 40px;
}

.despega-container p{
    font-size: 30px;
    margin-top: 0;
    margin-left: 42px;
    font-weight: 500;
}

.beneficios-contenedor{
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 116px;
    left: -8%;
    width: 110%;
    height: 500px;
    background-color: white;
}

