
.beneficio{
    position: relative;
    align-items: center;
    width: 290px;
    height: 250px;
    background-color: var(--blue);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
}

.beneficio .imagen-beneficio{
    position: relative;
    /*top: -42px;*/
    transform: translateY(-58%);
    padding-left: 14px;
    z-index: 20;
}
/* Borde invisible de la cabecera beneficio */
.beneficio::after{
    content: "";
    position: absolute;
    left: -20px;
    top: -85px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: #fff;
}

/* Background del icono del beneficio */
.beneficio::before{
    content: "";
    position: absolute;
    left: 0;
    top: -60px;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--blue);
    z-index: 10;

}

.beneficio p{
    position: absolute;
    font-size: 18px;
    color: #fff;
    transform: translateY(-10%);
    text-align: justify;
    margin-right: 20px;
}

.beneficio:hover{
    background-color: #5F93F5;
}

.beneficio:hover p{
    color: black;
}

.beneficio:hover, .beneficio:hover::before{
    background-color: #5F93F5;
}