.Duration-container{
    color: black;
    width: 100%;
    margin: 80px auto;
    height: max-content;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.Duration-container .Duration-item{
    background-color: #FFCE51;
    padding-left: 15px;
    list-style: none;
    width: 200px;
    height: 200px;

    cursor: default;
}

.Duration-container p{
    font-family: 'Inter';
    color: black; 
    font-weight: 300;
    font-size: 16px;
    margin-bottom: -13px;
}

.Duration-item .firstPara{
    margin-top: 85px;
}

.Duration-item .numero{
    padding: 0;
    margin: 0;
    font-size: 60px;
}

.Duration-item .proxima{
    margin-top: 110px;
}

.Duration-item .negrita{
    font-weight: bold;
    font-size: 20px;
}

.horario-container p{
    font-weight: 700;
    font-size: 17px;
    color: black;
}