:root{
  margin: 0;
  padding: 0;
  --blue : #1962EC;
}

body{
  color: var(--blue);
  overflow-x: hidden;
}

.header-container{
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 200px;
  z-index: 200;
}

.logo-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: start;
  float: left;
  /*margin: 8px;*/
  padding-left: 35px;
  width: 10%;
}

.logo-zaitex{
  padding: 22px;
  width: 100px;
}

nav{
  position: relative;
  float: right;
  width: 82%;
}

a{
  text-decoration: none;
  list-style: none;
}

.nav-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: right;
  width: 750px; /* 75% */
  margin-top: 27px;
  margin-left: 0px; /* 500px */
  gap: 16%;
  min-width: 100px;
}

.circulo{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1962EC;
  transform: translateX(-327%);
  margin-top: 13px;
  transition: 0.5s;
  z-index: -1;
}

/* Muralla derecha */
.circulo::after{
  content: "";
  position: absolute;
  width: 900px;
  height: 110px;
  top: -40px;
  /*left: 132px;*/
  background-color: white;
  z-index: -1;
  border-bottom-left-radius: 99px;
  transform: translateX(10.05%);
  transition: 0.5s;
}

/* Muralla izquierda */
.circulo::before{
  content: "";
  position: absolute;
  width: 5000%;
  height: 110px;
  top: -40px;
  transform: translateX(-99.82%);
  background-color: white;
  z-index: -1;
  border-bottom-right-radius: 97.6px; /* 96px */
  transition: 0.5s;
}

/* Luna arriba del circulo */
.luna{ 
  position: absolute;
  top: 0px;
  width: 119.9px;
  height: 118px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 white;
  -webkit-box-shadow: 30px 10px 0 white;
  box-shadow: -2px -66px 0px 10px white;
  /*left: -11px;  48.39% */
  z-index: 10;
  /*transform: rotate(206deg);*/
  transform: translateX(-272.4%);
  transition: 0.5s;
}

.nav-container .home-btn, .nav-container .about-btn, .nav-container .courses-btn, .nav-container .talleres-btn, .nav-container .biblioteca-btn{
  display: flex;
  position: relative; /* Cambia esto produce error */
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  transition: 0.5s;
}

/* Separación de las 2 paredes */
.nav-container .active::after{
  content: "";
  position: absolute;
  top: -19px;
  width: 115px;
  height: 115px;
  left: -10px;
  background-color: transparent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: all 0.5s ease;
}

/* Circulo celeste */
.nav-container .active{
  transform: translateY(30px);
  transition: 0.5s;
}

.active .txtInicio, .active .txtNosotros, .active .txtCursos, .active .txtTalleres, .active .txtBiblioteca {
  color: #fff;
}

.about-btn{
  text-decoration: none;
}

.logo-nosotros{
  margin-top: 4px;
}

.txtNosotros{
  margin-top: 5px;
}

.body-foto{
  width: 120%;
  height: 1900px;
  padding: 0px;
  margin: 0px;
  top: -39px;
  position: absolute;
  left: -8%;
  z-index: -20;
}

.txtNosotros, .txtCursos, .txtTalleres, .txtInicio, .txtBiblioteca{
  color: #1962EC;
}

a:nth-child(1).active .txtInicio{
  color: white;
} 

a:nth-child(1).active ~ .circulo{
  transform: translateX(-327%);
}

a:nth-child(1).active ~ .luna{
  transform: translateX(-272.4%);
}

a:nth-child(2).active .txtNosotros{
  color: white;
} 

a:nth-child(2).active ~ .circulo{
  transform: translateX(-176%);
}

a:nth-child(2).active ~ .luna{
  transform: translateX(-146.9%);
}

a:nth-child(3).active .txtCursos{
  color: white;
} 

a:nth-child(3).active ~ .circulo{
  transform: translateX(-20%);
}

a:nth-child(3).active ~ .luna{
  transform: translateX(-16.9%);
}

a:nth-child(4).active .txtTalleres{
  color: white;
} 

a:nth-child(4).active ~ .circulo{
  transform: translateX(130%);
}

a:nth-child(4).active ~ .luna{
  transform: translateX(108.3%);
}

a:nth-child(5).active .txtBiblioteca{
  color: white;
} 

a:nth-child(5).active ~ .circulo{
  transform: translateX(290%);
}

a:nth-child(5).active ~ .luna{
  transform: translateX(241.5%);
}

@media screen and (min-width: 200px) and (max-width: 752px){
  .nav-container{
      width: 100%;
      margin-right: 0;
  }
}

@media screen and (max-width:750px) and (min-width: 900px){
  .nav-container{
      width: 100%;
      gap: 17%;
  }
}
