.cursos-container .tituloTaller{
    position: absolute;
    right: 100px;
    color: #fff;
    transform: translateY(-500px);
    font-size: 70px;
    font-weight: 700;
    font-family: 'Inter';
    z-index: 4;
}

.talleres{
    aspect-ratio: 80/47;
}

.duration-container{
    width: 90%;
    margin: 0 auto;
}

.secondTitle{
    color: black;
    width: 90%;
    margin: 80px auto;

    font-size: 40px;
}

.secondTitle span{
    margin-left: 11px;
}

.tipoCurso-container{
    width: 90%;
    height: max-content;
    margin: 40px auto;
}