:root{
  margin: 0;
  padding: 0;
  --blue : #1962EC;
}

.right-wall{
  position: absolute;
  background-color: green;
  width: 70%;
  height: 100px;
  z-index: -10;
  right: -24.6%;
  border-bottom-left-radius: 75px;
}

.left-wall{
  position: absolute;
  background-color: red;
  width: 70%;
  height: 100px;
  z-index: -10;
  left: -22.5%;
  border-bottom-right-radius: 75px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container{
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  margin-top: 20px;
  gap: 100px;
}

.nav-container li{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
/* Circulos que rodea la opciones */
.nav-container .home-btn::before{
  content: "";
  position: absolute;
  width: 0; 
  height: 0;
  border-radius: 50%;
  background-color: #1962EC;
  top: 20px;
  z-index: -1;
  transition: all 0.2s ease-in;
}
/* Separación de las 2 paredes */
.nav-container .home-btn::after{
  content: "";
  position: absolute;
  top: 9px;
  width: 115px;
  height: 115px;
  background-color: transparent;
  border: 2px solid black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

}

.nav-container .home-btn:hover{
  margin-top: 10px;
}

.nav-container .home-btn:hover::before{
  width: 90px;
  height: 90px;
  transition: all 0.2s ease-out;
}

.logo-zaitex{
  padding: 10px;
  width: 90px;
}
